<mat-toolbar color="primary">
  <span>{{ title }}</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<div class="container">
  <div class="mt-5">
    <h3>{{ title }} works...</h3>
  </div>
  <mat-slide-toggle (click)="changeState()"></mat-slide-toggle>

  <span class="ms-4">{{ switchState() | uppercase }}</span>
  <app-state></app-state>
</div>
